<!DOCTYPE html>
<html lang="en">

<head>
    <title>宸弘閃亮亮後台ERP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">宸弘電梯</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">客戶 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">客戶名單維護</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">貨物 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">領貨</a></li>
                    <li><a href="#">進貨</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">保養 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">保養行程表</a></li>
                    <li><a href="#">保養缺失列表</a></li>
                </ul>
            </li>
            <li><a href="#">財務</a></li>
        </ul>
    </div>
</nav>

<div class="container" id="mainShowArea">
    <h3></h3>
    <p>This example adds a dropdown menu for the "Page 1" button in the navigation bar.</p>
    <img src="img.png" alt="Italian Trulli">
</div>

</body>
</html>
